body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #5a3d7b;
}

header {
  background-color: #5a3d7b;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.auth-buttons button {
  background-color: #a374c1;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #ece4f1;
  padding: 40px;
  border-radius: 15px;
  margin: 20px;
  align-items: center;
}



.hero-content p {
 
  font-size: 36px;
  color: #7a5f91;
}

.hero-content .read-more {
  background-color: #7a5f91;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.hero-image img {
  max-width: 100%;
  border-radius: 15px;
}

.artwork-section h2, 
.recent-search h2 {
  margin: 20px;
  font-size: 28px;
  color: #5a3d7b;
}

.artwork-gallery {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.artwork-gallery img {
  max-width: 100%;
  border-radius: 10px;
}

.recent-search ul {
  list-style: none;
  padding: 0;
}

.recent-search ul li {
  margin-bottom: 10px;
}

.recent-search ul li a {
  text-decoration: none;
  color: #5a3d7b;
  font-weight: bold;
  background-color: #e4d3ef;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

.extra-links .link-box {
  background-color: #e4d3ef;
  color: #5a3d7b;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  font-weight: bold;
}
.image{
  margin-top: 30px;
  width: 229px;
  height: 229px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.image:hover {
 transform: scale(1.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 2500px; /* Adjust this value for your desired width */
  max-width: 80%; /* This ensures the modal is responsive */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-button {
  background-color: #ff5c5c;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button:hover {
  background-color: #ff0000;
}

.hero-image {
  text-align: center;
  margin-top: 50px;
}

